MYSQL_HOST=localhost
MYSQL_USER=admin
MYSQL_PASS=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=sd2-db
MYSQL_ROOT_USER=root
DB_CONTAINER=db
DB_PORT=3306
DB_HOST=db
DB_USER=root
DB_PASSWORD=password
DB_NAME=sd2-db
