doctype html
html
  head
    title Eco Share
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
  body
    header.site-header
      .header-inner
        h1.logo Eco Share
        nav.nav-links
          a(href='/listings') Browse Items
          a(href='/categories') Categories

    main.page-content
      block content