doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Eco Share
      p Share belongings. Reduce waste. Build community.
    main
      block content
    script(src="/js/main.js")
