extends layout

block content
  h2.page-title Categories

  .items-grid
    .item-card
      h3 Books
    .item-card
      h3 Clothing
    .item-card
      h3 Electronics
    .item-card
      h3 Household