extends layout

block content
  .container
    h2 Login

    form(action="/login", method="POST")
      .card
        label Email
        input(type="email", name="email", required)

        label Password
        input(type="password", name="password", required)

        br
        button.btn(type="submit") Login

    p
      | Don't have an account?
      a(href="/signup") Sign up